<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe Store</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/login.js"></script>
    <script src="/scripts/product.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/shoes-page.css">
</head>
<body>
    <div id="page-container">
        <header>
            <%- include('partials/header') %>
        </header>

        <main id="content-wrap">
            <%- include('partials/hero') %>
            <div class="hero-images">
                <a href="link1.html"><img src="video/n1.jpeg" alt="Image 1"></a>
                <a href="/men"><img src="video/n2.jpg" alt="Image 2"></a>
                <a href="/kids"><img src="video/n4.jpg" alt="Image 4"></a>
                <a href="/women"><img src="video/n5.jpg" alt="Image 5"></a>
            </div>
            <%- include('partials/feature-product') %>
        </main>
<<<<<<< HEAD
        <%- include('partials/model') %>
=======
<<<<<<< HEAD
        <%- include('partials/model') %>
=======

>>>>>>> 8a0e8997697cab5ffdc8f003708ec5bba2dddc23
>>>>>>> 7ea09dfec61bb79bd13813af00e6d5cd139f0de0
        <footer id="mainFooter">
            <%- include('partials/footer') %>
        </footer>
    </div>
</body>
</html>