<!--men-shoes.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/login.js"></script>
    <script src="/scripts/product.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/shoes-page.css">
</head>
<body>
    <div id="page-container">
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <section class="featured-products">
                <%- include('partials/hero-men') %>
                <h2>All Men's Shoes</h2>
                <div class="products">
                    <% 
                    // Filter shoes for men's category and stock > 0
                    let menShoes = shoes.filter(shoe => shoe.category === 'Men' && shoe.stock > 0);

                    // Loop to display all men's shoes with stock greater than 0
                    for (let i = 0; i < menShoes.length; i++) {
                    %>
                        <div class="product" data-id="<%= menShoes[i]._id %>">
                            <img src="<%= menShoes[i].image %>" alt="<%= menShoes[i].title %>">
                            <h3 class="title"><%= menShoes[i].title %></h3>
                            <p class="price">$<%= menShoes[i].price %></p>
                        </div>
                    <% 
                    }
                    %>
                </div>
            </section>
        </main>
        <div id="purchaseModal" class="modal">
            <div class="modal-content">
                <span class="close-btn" onclick="closePurchasesOverlay()">&times;</span>
                <h3>User Purchases</h3>
                <ul id="purchasesList"></ul>
            </div>
        </div>
        <footer id="mainFooter">
            <%- include('partials/footer') %>
        </footer>
    </div>
    <%- include('partials/model') %>
    <script>
    $(document).ready(function() {
        console.log('Document ready');

        $('.product').click(function(e) {
            e.preventDefault();
            const productId = $(this).data('id');

            $.ajax({
                url: `/shoes/${productId}/ajax`,
                method: 'GET',
                success: function(response) {
                    $('main').html(response);
                },
                error: function(err) {
                    console.error('Error loading the product details:', err);
                }
            });
        });
    });
    </script>
</body>
</html>