<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <script src="/scripts/dashboard.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <script>
        $(function() {
            $("#tabs").tabs();
        });
    </script>
</head>
<body>
    <div id="page-container">
        <main id="content-wrap">
            <div id="tabs">
                <ul>
                    <li><a href="#store-stats">Store Statistics</a></li>
                    <li><a href="#add-shoe">Add New Shoe</a></li>
                    <li><a href="#shoe-actions">Manage Shoes</a></li>
                    <li><a href="#store-management">Manage Stores</a></li>
                    <li><a href="#add-user">Add New User</a></li>
                    <li><a href="#user-management">Manage Users</a></li>
                </ul>
                <div id="store-stats">
                    <h2 id="staticTitle">Store Statistics</h2>
                    <!-- Store statistics will go here -->
                </div>
                <div id="add-shoe">
                    <%- include('dashboard/add-shoe') %>
                </div>
                <div id="edit-shoe-section" style="display: none;">
                    <%- include('dashboard/edit-shoe-section') %>
                </div>
                <div id="shoe-actions">
                    <%- include('dashboard/manage-shoes') %>
                </div>
                <div id="store-management">
                    <%- include('dashboard/store-management') %>
                </div>
                <div id="add-user">
                    <%- include('dashboard/add-user') %>
                </div>
                <div id="user-management">
                    <%- include('dashboard/user-management') %>
                </div>
                <div id="edit-user-section" style="display: none;">
                    <%- include('dashboard/edit-user-section') %>
                </div>
            </div>
        </main>
    </div>
    <script src="/scripts/shoes-func.js"></script>
    <script src="/scripts/stores-func.js"></script>
    <script src="/scripts/user-management.js"></script>
</body>
</html>
